<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login with OTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h2 id="login-heading">SeekAndFind: Login</h2>
        <form id="loginForm" method="GET">
            <label for="email">IGDTUW Email ID:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            <button class="login" onclick= "sendData()"  type = "button" id = "submit_button">Send OTP</button>
        </form>
        <form id="otpForm" >
                <label for="otp">Enter OTP:</label>
                <input type="text" id="otp" name="otp" placeholder="Enter the OTP" required>
                <button class="login" type = "button" onclick="verify()">Verify OTP</button>
        </form>
        <p id="message"></p>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>